// settingフォルダの変数を読み込みます

@use "../setting" as *;
@use"../mixin" as *;

%slide__btn {
    position: fixed;
    z-index: 21;
    top: 15px;
    right: 10px;
    padding: 10px;
    width: 72px;
    height: 32px;

    @media screen and (min-width: 900px) {
        top: 32px;
        right: $mvPaddingPc;
        width: 88px;
        height: 36px;
    }
}

%worksDlTtl {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 500;
    letter-spacing: -0.07em;
}