// settingフォルダの変数を読み込みます

@use "../setting" as *;
@use"../mixin" as *;

%slide__btn{
    position: fixed;
    z-index: 21;
    top: 24px;
    right: 20px;
    padding: 10px;
    width: 72px;
    height: 32px;
}

