// settingフォルダの変数を読み込みます

@use "../setting" as *;

//gallery点滅アニメーション
@keyframes gallery{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    60%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
    80%{
        opacity: 0;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

//ループアニメーション

@keyframes skillRoop1{
    0%{
        transform: translateX(130%);
    }
    100%{
        transform: translateX(-130%);
    }
}
@keyframes skillRoop2{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-260%);
    }
}





@keyframes roop1{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes roop2{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-200%);
    }
}