// settingフォルダの変数を読み込みます

@use "../setting" as *;


@keyframes sunaarashi{
    0%{
        background-image: url(../images/sunaarashi-01.jpg);
    }
    32%{
        background-image: url(../images/sunaarashi-01.jpg);
    }
    33%{
        background-image: url(../images/sunaarashi-02.jpg);
    }
    65%{
        background-image: url(../images/sunaarashi-02.jpg);
    }
    66%{
        background-image: url(../images/sunaarashi-03.jpg);
    }
    99%{
        background-image: url(../images/sunaarashi-03.jpg);
    }
    100%{
        background-image: url(../images/sunaarashi-04.jpg);
    }
}

//arrowホバーアニメーション
@keyframes arrow {
    29% {
        opacity: 1;
    }

    30% {
        opacity: 0;
        transform: rotate(-45deg) translateX(100%);
    }


    31% {
        opacity: 0;
        transform: rotate(-45deg) translateX(-100%);
    }
    70%{
        opacity: 1;
    }

    100% {
        transform: rotate(-45deg) translate(0);
    }
}

//gallery点滅アニメーション
@keyframes gallery {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

//ループアニメーション

@keyframes roop1 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes roop2 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-200%);
    }
}

//ループアニメーションvertical
@keyframes roopVer1 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(200%);
    }
}

@keyframes roopVer2 {
    0% {
        transform: translateY(-200%);
    }

    100% {
        transform: translateY(100%);
    }
}
@keyframes roopVer3 {
    0% {
        transform: translateY(-300%);
    }

    100% {
        transform: translateY(0%);
    }
}


//history画像アニメーション
@keyframes history1 {
    15% {
        opacity: 1;
    }

    60% {
        background-position: 25% 25%;
        background-size: 130%;
        opacity: 0;
    }

    80% {
        background-size: 90%;
    }
}

@keyframes history2 {
    30% {
        background-size: 100%;
        opacity: 0;
    }

    80% {
        background-size: 130%;
        opacity: 1;
    }

    95% {
        opacity: .5;
    }
}