@use "../global" as *;

#history {
    .mv {
        position: relative;
        width: 100%;
        height: 482px;
        background: $blue;

        &__ttl {
            position: absolute;
            top: clamp(60px, calc(181.25px - 15vw), 125px);
            left: 0;
            z-index: 3;

            span {
                display: inline-block;
                color: $black;
                font-size: clamp(0px, 22.66vw, 183px);
                font-weight: 400;

                @media screen and (min-width: 768px) {
                    font-size: 183px;
                }

                &:first-of-type {
                    font-size: clamp(0px, 15.5vw, 112px);
                    font-weight: 300;

                    @media screen and (min-width: 768px) {
                        font-size: clamp(115px, 14.97vw, 214px);
                    }
                }
            }


            &-01 {
                transform: translateX(-2vw);

                @media screen and (min-width: 1024px) {
                    transform: translateX(0vw);
                }
            }

            &-02 {
                transform: translateX(-4vw);

                @media screen and (min-width: 1024px) {
                    transform: translateX(-1vw);
                }
            }

            &-03 {
                transform: translateX(-6.5vw);

                @media screen and (min-width: 1024px) {
                    transform: translateX(8vw);
                }
            }

            &-04 {
                @media screen and (min-width: 1024px) {
                    transform: translateX(21vw);
                }
            }

            &-05 {
                transform: translateX(-1.3vw);

                @media screen and (min-width: 1024px) {
                    transform: translateX(20vw);
                }
            }

            &-06 {
                transform: translateX(7vw);

                @media screen and (min-width: 600px) {
                    transform: translateX(4vw);
                }
            }

            &-07 {
                transform: translateX(6vw);

                @media screen and (min-width: 600px) {
                    transform: translateX(3vw);
                }
            }

            &-08 {
                transform: translateX(9.5vw);

                @media screen and (min-width: 600px) {
                    transform: translateX(6vw);
                }
            }
        }
    }

    .message {
        position: relative;

        &__container {
            padding-top: 22px;
            padding-bottom: 47px;
            height: 434px;
            overflow: hidden;
            background: #fff;

            //背景のcircle
            &::before {
                @include content;
                position: absolute;
                top: -30px;
                left: 62px;
                width: 507px;
                aspect-ratio: 1 / 1;
                border: 3px solid $gray ;
                border-radius: 50%;
            }

        }

        &__txt {
            position: relative;
            z-index: 2;
            display: flex;
            align-items: baseline;
            gap: 6px;
            font-size: clamp(0px, 9.86vw, 40px);
            font-weight: 500;
            line-height: 1.6;
            letter-spacing: -0.03em;

            .historyLine {
                display: block;
                @include historyLine;
            }

            &--01 {
                transform: translateX(105px)
            }

            &--02 {
                transform: translateX(26vw);

                .historyLine {
                    @include historyLine(auto, 0);
                }

                @media screen and (min-width: 600px) {
                    transform: translateX(clamp(0px, 57vw, 437px));
                }
            }

            &--03 {
                transform: translateX(95.6px);
            }

            &--04 {
                transform: translateX(71.25px);
            }

            &--05 {
                transform: translateX(15vw);

                .historyLine {
                    @include historyLine(auto, 0);
                }

                @media screen and (min-width: 600px) {
                    transform: translateX(clamP(0px, 53vw, 407px));
                }
            }

            &--06 {
                display: block;
                width: fit-content;
                transform: translateX(11.25px);

                .historyLine {
                    margin-left: auto;
                    margin-right: -15px;
                }
            }
        }

        &__gallery {
            padding-top: 62px;
            padding-bottom: clamp(0px, 22.4vw, 170px);
            background: $blue;

            //container内_js.scssに記述
            &Container {
                margin-bottom: clamp(0px, 18.66vw, 75px);
            }
        }

        &__ttl {
            margin-left: 20px;
            width: 207px;

            img {
                object-fit: contain;
            }

            @media screen and (min-width: 768px) {
                margin-left: 40px;
            }
        }

    }

    .history {
        margin-bottom: 24px;
        padding-top: clamp(0px, 7.73vw, 43px);
        background: #000;

        * {
            color: #fff;
        }

        //historyセクション下の画像
        &::after {
            @include content;
            height: 375px;
            width: 100%;
            background: url(../images/historyImg.jpg)center center / cover;
        }

        &__ttl {
            margin-bottom: 46px;
            @include padding;
            font-size: 39px;
            font-weight: 400;
            letter-spacing: -0.03em;

            @media screen and (min-width: 768px) {
                @include paddingTab;
            }
        }

        &__wrap {
            position: relative;
            z-index: 3;
            @include padding;
            padding-bottom: 79px;

            @media screen and (min-width: 768px) {
                @include paddingTab;
                padding-bottom: 47px;
            }
        }

        &__about {
            &Dl {
                display: flex;
                justify-content: space-between;
                margin-bottom: 43px;

                @media screen and (min-width: 768px) {
                    margin-bottom: 45px;
                }
            }

            &Dt {
                color: rgba(255, 255, 255, 0.5);
                letter-spacing: -0.07em;

                @media screen and (min-width: 768px) {
                    font-size: 18px;
                }

                &Ruby {
                    display: block;
                    margin-top: 2px;
                    font-size: 9px;
                    color: #fff;
                    letter-spacing: normal;

                    @media screen and (min-width: 768px) {
                        padding-top: 0;
                        font-size: 11px;
                    }
                }
            }

            &Dd {
                font-size: 36px;

                @media screen and (min-width: 768px) {
                    font-size: 38px;
                    line-height: 1;
                }
            }

            &Txt {
                position: relative;
                z-index: 3;
                margin-bottom: clamp(0px, 4.53vw, 41px);
                font-size: 14px;

                @media screen and (min-width: 768px) {
                    margin-bottom: 41px;
                    font-size: 15px;
                }

                @media screen and (min-width: 1024px) {
                    margin-right: $mvPaddingPc;
                    padding: 0;
                    width: 422px;
                    font-size: clamp(12px, 1.56vw, 17px);
                }

                .br {
                    display: none;

                    @media screen and (min-width: 1024px) {
                        display: block;
                    }
                }
            }
        }

        &__head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 34px 0;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            cursor: pointer;

            &:first-of-type {
                border-top: none;
            }
        }

        &__year {
            font-size: 23px;
            letter-spacing: -0.07em;

            @media screen and (min-width: 768px) {
                font-size: 25px;
            }
        }

        &__view {
            display: flex;
            align-items: center;
            gap: 9px;
            font-size: 15px;
            letter-spacing: -0.02em;

            .btn {
                @include plus;
            }
        }

        &__list {
            display: flex;
            align-items: baseline;
            padding: 13px 0;
            border-bottom: 1px solid #fff;
        }

        &__item {
            @extend .history__list;
        }

        &__year02 {
            width: clamp(0px, 26.66vw, 130px);
            font-size: 14px;
        }

        &__name {
            font-size: 14px;

        }

        &__place {
            padding-top: 8px;
            font-size: 11px;
        }
    }

    .profile {
        margin-bottom: 97px;

        &__roop {
            position: relative;
            display: flex;
            margin-bottom: 46px;

            @media screen and (min-width: 768px) {
                margin-bottom: 40px;
            }

            span {
                display: flex;
                font-size: 78px;
                letter-spacing: -0.02em;
                color: $gray;
                margin-left: .2em;
            }

            &Txt--01 {
                animation: roop1 50s -23.8s linear infinite;
            }

            &Txt--02 {
                animation: roop2 50s linear infinite;
            }

            &::after {
                @include content;
                position: absolute;
                top: 60%;
                left: 0;
                height: 1.46px;
                background: $gray;
            }
        }

        &__wrap {
            @include padding;

            @media screen and (min-width: 768px) {
                @include paddingTab;
            }
        }

        &__ttl {
            margin-bottom: 32px;
            font-size: 41px;
            letter-spacing: -0.02em;
        }

        &__container{
            @media screen and (min-width: 500px) {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding-left: 47px;
            }
        }
        &__box {
            width: fit-content;
            margin-left: auto;
            margin-bottom: 31px;
            @media screen and (min-width: 500px) {
              margin-left: 0;
            }
        }

        &__pic {
            position: relative;
            width: clamp(0px, 79.46vw, 593px);
            margin-bottom: 16px;
            aspect-ratio: 298 / 191;
            background: #ccc;

            @media screen and (min-width: 768px) {
                margin-bottom: 11px;
            }

            img {
                object-fit: cover;
            }

            &::after {
                @include content;
                position: absolute;
                left: 0;
                bottom: 0;
                transform: translateY(100%);
                width: 98px;
                height: 11px;
                background: #0092FF;
            }
        }

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__name {
            font-size: 19px;
            letter-spacing: -0.07em;

            &Ruby {
                display: block;
                font-size: 11px;
                letter-spacing: normal;
                color: #868686;
            }
        }

        &__view {
            display: none;

            &Btn {
                @include plus($gray, $black);
            }
        }

        &__txt {
            font-size: 13px;
        }
    }
}