//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.wrapper {
    background: #fff;
    overflow: hidden;
}


.header {
    position: relative;
    z-index: 10;
    height: 100vh;
    margin-bottom: 44.8vw;
    @include padding;
    mix-blend-mode: difference;

    &__ttl {
        padding-top: 15px;
        width: 215px;
        height: fit-content;
        mix-blend-mode: difference;
    }

}

.fixed__sunaarashi {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 20px;
}

.gnav {
    display: none;
}

.gnavSlider {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    height: 100vh;
    width: 100%;
    transform: translateY(100%);
    transition: .5s;
    opacity: 0;

    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__ul {
        margin-bottom: 99px;
    }

    &__link {
        @include navfont;
    }

    @for $i from 1 through 4 {
        .gnavSlider__link-0#{$i}::before {
            content: "_0#{$i}";
            margin-right: 3px;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: -0.08em;
        }
    }

    &__small {
        color: #fff;
        font-size: 11px;
        letter-spacing: -0.09em;
    }

    &__btn {
        @extend %slide__btn;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        mix-blend-mode: difference;

        &line {
            display: block;
            height: 2px;
            background: #fff;
            transition: .3s;

            &Top {
                transform: scale(100%);
                transform-origin: 0;
            }

            &Bottom {
                transform: scale(50%);
                transform-origin: 0;
            }
        }

        &:hover {
            .gnavSlider__btnlineTop {
                transform: scale(50%);
            }

            .gnavSlider__btnlineBottom {
                transform: scale(100%);
            }
        }

    }
}

#top {
    .mv {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        // 背景動画はjs.scssファイルに記述

        &__wrap {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            @include padding;
            mix-blend-mode: difference;

            * {
                color: #fff;
            }
        }

        &__container-01 {
            margin: 26.1vw 0 23.2vw;
        }

        &__ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
        }

        &__list {
            font-weight: 500;

            &:first-of-type {
                display: flex;
                gap: 9.86vw;
                margin-bottom: 70.93vw;
                width: 100%;
                font-size: 13px;
            }

            &:nth-of-type(2),
            &:nth-of-type(3) {
                font-size: 14px;
            }

        }

        &__ttl {
            margin-bottom: 14px;
            width: 215px;
        }

        &__txt {
            font-size: 10px;
            font-weight: 500;
            letter-spacing: -0.07em;
        }

        &__container-02 {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

    }

    .message {
        margin-bottom: 21.33vw;

        &__container {
            position: relative;
            margin-bottom: 54.66vw;
            @include padding;
        }

        &__ttl {
            position: relative;
            z-index: 1;
            font-size: clamp(0px, 12vw, 60px);
            font-weight: 400;
            line-height: 1;
            letter-spacing: -0.07em;

            &Serif {
                display: block;
                margin-bottom: clamp(10px, calc(37px - 2vw), 30px);
                width: fit-content;
                font-family: $serif;
                font-size: clamp(0px, 8.8vw, 40px);
                font-weight: 500;
                letter-spacing: -0.05em;

                &::after {
                    @include content;
                    margin-top: -.5vw;
                    height: 2px;
                    background: $black;
                }
            }

            &Ruby {
                display: block;
                color: $gray03;
                font-size: 14px;
                letter-spacing: normal;
                line-height: 1.5;
            }

        }

        &__circle {
            position: absolute;
            top: -17.6vw;
            left: 15.6vw;
            width: clamp(0px, 136vw, 535px);
            aspect-ratio: 1 / 1;
            border: 3px solid $gray01;
            border-radius: 50%;

            &::before {
                @include content($w: 141px);
                position: absolute;
                top: 48vw;
                left: 43vw;
                aspect-ratio: 1 / 1;
                background: url(../images/message-japn.jpg) center center / cover;
            }

            &::after {
                @include content($w: 127px);
                position: absolute;
                top: 96vw;
                left: 43vw;
                aspect-ratio: 1 / 1;
                background: url(../images/message-sapporo.png) center center / cover;
            }
        }

        &__gallery {
            margin-bottom: 18vw;

            &::before {
                @include content;
                margin-bottom: clamp(0px, 2.93vw, 15px);
                height: 18px;
                background: $gray02;
            }

            // container内js.scssに記述
        }

        &__txt {
            &Box {
                @include padding
            }

            margin-bottom: 26.93vw;
            font-size: 6.93vw;
            font-weight: 200;
            letter-spacing: -0.05em;
            line-height: 115%;

            .br {
                &:nth-of-type(2) {
                    display: none;
                }

                &:nth-of-type(4) {
                    display: none;
                }
            }

            &Ruby {
                color: $gray03;
                font-size: 11px;
                font-weight: 500;
                line-height: 181.8%;
            }
        }
    }

    .works {
        position: relative;
        padding-top: 11.5vw;
        padding-bottom: 44vw;
        background: $blue;

        &::after {
            @include content;
            position: absolute;
            bottom: 32vw;
            left: 0;
            height: 1px;
            background: $black;
        }

        &__ttl {
            margin-bottom: 23vw;
            @include ttl;

            &-01 {
                transform: translateX(-2vw);
            }

            &-02 {
                transform: translateX(-2vw);
            }

            &-03 {
                transform: translateX(2.5vw);
            }

            &-04 {
                transform: translateX(10.3vw);
            }

            &-05 {
                transform: translateX(9.5vw);
            }

            &-06 {
                transform: translateX(23vw);
            }
        }

        //works切り替え
        //works block表示用
        &__ulBlock {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 11.2vw;
            @include padding;

            .works {
                &__list {
                    width: 43.73vw;

                    &:first-of-type {
                        display: none;
                    }
                }

                &__thum {
                    margin-bottom: 2.13vw;
                }

                &__name {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.4;

                    .arrow {
                        @include arrow(#717171)
                    }
                }

                &__time {
                    display: none;
                }

                &__responsive {
                    display: none;
                }
            }
        }

        //works line表示用
        &__ulLine {
            .works {
                $works__border: 1px solid #717171;

                &__list {
                    border-top: $works__border;

                    &:first-of-type {
                        display: none;
                    }

                    &:nth-of-type(2),
                    &:nth-of-type(8),
                    &:nth-of-type(9),
                    &:nth-of-type(10) {
                        .br {
                            display: none;
                        }
                    }

                    &:last-of-type {
                        border-bottom: $works__border;
                    }
                }

                &__link {
                    @include padding;
                    padding-top: 7px;
                    padding-bottom: 18px;

                }

                &__thum {
                    display: none;
                }

                &__name {
                    font-size: 26px;
                    font-weight: 500;
                    line-height: 1.3;


                    .arrow {
                        @include arrow(#717171)
                    }
                }

                &__time, &__responsive {
                    color: rgb(0, 0, 0, 0.5);
                    font-size: 14px;
                }

                &__time::before {
                    content: 'time';
                    padding-right: 1em;
                    letter-spacing: -0.07em;
                }

                &__responsive {
                    margin-top: -3px;

                    &::before {
                        content: 'responsive';
                        padding-right: 1em;
                        letter-spacing: -0.07em;
                    }
                }
            }
        }

        &__switch {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            padding: 14px 51px;
            width: 175px;
            height: 45px;
            background: #fff;
            border-radius: 999px;

            %btnSize {
                width: 20px;
                height: 18px;
            }

            &Line {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @extend %btnSize;

                span {
                    width: 100%;
                    height: 4px;
                    background: #757575;
                }
            }

            &Block {
                display: flex;
                flex-wrap: wrap;
                gap: 3px;
                @extend %btnSize;

                span {
                    width: 4px;
                    height: 4px;
                    background: #757575;
                }
            }
        }
    }

    .skill {
        position: relative;
        z-index: 2;
        padding-bottom: 13vw;
        background: $bgGray;

        &__ttl {
            position: relative;
            z-index: 3;
            margin-top: -21vw;
            margin-bottom: 15vw;
            @include ttl;

            &-01 {
                transform: translateX(-2vw);
            }

            &-02 {
                transform: translateX(-2vw);
            }

            &-03 {
                transform: translateX(10vw);
            }

            &-04 {
                transform: translateX(9vw);
            }

            &-05 {
                transform: translateX(15vw);
            }

            &-06 {
                transform: translateX(35vw);
            }

            &-07 {
                transform: translateX(34vw);
            }
        }

        &__pic {
            display: flex;
            margin-bottom: 29vw;
            overflow: hidden;
            
            img{
                width: 100vw;
            }

            &-01 {
                animation: roop1 10s -5s linear infinite;
            }

            &-02 {
                animation: roop2 10s linear infinite;
            }
        }

        &__kinds {
            @include padding;

            &Ttl {
                margin-bottom: 26px;
                padding-bottom: 16px;
                padding-left: 20px;
                color: $gold;
                border-bottom: 1px solid $gold;
                letter-spacing: -0.07em;
            }

            &List {
                margin-bottom: 31px;
            }

            &Box {
                display: flex;
                gap: 26.6px;
            }

            &Name {
                display: flex;
                gap: 5px;
                margin-bottom: 10px;
                color: #fff;
                font-size: 21px;
                letter-spacing: -0.07em;

                &::before {
                    @include content($w: 26px);
                    height: 26px;
                    background: center center / contain no-repeat;
                }

                &Html::before {
                    background-image: url(../images/iconHtml.svg);
                }

                &Css::before {
                    background-image: url(../images/iconCss.svg)
                }

                &Js::before {
                    background-image: url(../images/iconJs.svg)
                }

                &Cms::before {
                    background-image: url(../images/iconCms.svg)
                }

                &Git::before {
                    background-image: url(../images/iconGit.svg)
                }

                &Figma::before {
                    background-image: url(../images/iconFigma.svg)
                }

                &Xd::before {
                    background-image: url(../images/iconXd.svg)
                }

                &Ps::before {
                    background-image: url(../images/iconPs.svg)
                }

                &Vscode::before {
                    background-image: url(../images/iconVscode.svg)
                }

                &Chat::before {
                    background-image: url(../images/iconChat.svg)
                }

                &Quip::before {
                    background-image: url(../images/iconQuip.svg)
                }
            }

            &Txt {
                color: #fff;
                font-size: 10px;
            }
        }
    }

    .history {
        position: relative;
        padding-bottom: 3vw;
        background: #000;

        &__ttl {
            position: relative;
            z-index: 3;
            margin-top: -22.5vw;
            margin-bottom: 17vw;
            @include ttl;

            &-01 {
                transform: translateX(-2vw);
            }

            &-02 {
                transform: translateX(-4vw);
            }

            &-03 {
                transform: translateX(-5vw);
            }

            &-05 {
                transform: translateX(-1.3vw);
            }

            &-06 {
                transform: translateX(8vw);
            }

            &-07 {
                transform: translateX(7vw);
            }

            &-08 {
                transform: translateX(15vw);
            }
        }

        &__bgPic {
            position: absolute;
            top: 50vw;
            left: -27vw;
            z-index: 2;
            width: 495px;
            aspect-ratio: 495.31 / 323;
            background: url(../images/topHistory-1.jpg) center center / cover;

            &::after {
                @include content;
                height: 100%;
                background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.8) 90%, #000 100%);
            }
        }

        &__dl {
            position: relative;
            z-index: 3;
            margin-bottom: 8.5vw;
            @include padding;
            text-align: right;

            &Box {
                margin-bottom: 4.53vw;
            }
        }

        &__dd {
            color: hsla(0, 0%, 100%, 0.5);
            letter-spacing: -0.07em;
        }

        &__dt {
            color: #fff;

            &:nth-of-type(1) {
                margin-top: -3vw;
                font-size: 45px;
                letter-spacing: -0.07em;
            }

            &:nth-of-type(2) {
                margin-top: -2vw;
                font-size: 10px;
            }
        }

        &__txt {
            position: relative;
            z-index: 3;
            margin-bottom: 5vw;
            @include padding;
            color: rgba(255, 255, 255, 0.6);
            font-size: 12px;

            .br {
                display: none;
            }
        }

        &__more {
            @include padding;
            text-align: right;
        }

        &__link {
            color: #fff;
            font-size: 35px;
            letter-spacing: -0.07em;

            .arrow {
                @include arrow(#fff)
            }
        }

        &__item {
            margin-top: -8vw;
            @include ttl;

            span {
                color: #4c4c4c;
            }

        }
    }

    .contact {
        padding-top: 14.66vw;
        padding-bottom: 13.33vw;
        background: $bgBlack;

        &__subTtl {
            margin: 0 auto 13vw;
            width: fit-content;
            color: #fff;
            font-family: $serif;
            font-size: 62px;
            letter-spacing: -0.03em;

            &::after {
                @include content;
                margin-top: -18px;
                height: 1px;
                background: #fff;
            }
        }

        &__container {
            @include padding;
        }

        &__txt {
            margin-bottom: 15vw;
            color: rgba(255, 255, 255, 0.6);
            font-size: 14px;
            line-height: 178.57%;

            .br {
                display: none;
            }
        }

        &__ttl {
            margin-bottom: 5.4vw;
            color: #fff;
            font-size: 34px;
            font-weight: 400;
            letter-spacing: -0.07em;
            text-align: right;

            .arrow {
                @include arrow(#fff);
            }
        }

        &__mail {
            color: #fff;
            font-size: 12px;
            letter-spacing: -0.07em;
            text-align: right;
        }
    }

    .footer {
        padding-bottom: 16.26vw;
        background: $bgBlack;

        &__pic {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 19.46vw;
            padding: 2.6vw 0 3.46vw;
            height: 100vw;
            background: url(../images/footer-sp.jpg)center center / cover;
        }

        &__siteName {
            &Top {
                display: flex;
                gap: 3.63vw;
                height: 4.26vw;
            }

            &Bottom {
                @extend .footer__siteNameTop;
            }

            &Roop {
                width: 100vw;

                &-01 {
                    animation: roop1 60s -30s linear infinite;
                }

                &-02 {
                    animation: roop2 60s linear infinite;
                }
            }
        }

        &__ul {
            margin-bottom: 20vw;
        }

        &__list {
            $border: 0.5px solid rgba(255, 255, 255, 0.3);
            border-top: $border;

            &:last-of-type {
                border-bottom: $border;
            }
        }

        &__link {
            margin-top: -5px;
            margin-bottom: -2px;
            @include padding;
            @include navfont;
        }

        @for $i from 1 through 4 {
            .footer__link-0#{$i}::before {
                content: "_0#{$i}";
                margin-right: 3px;
                font-size: 23px;
                font-weight: 500;
                letter-spacing: -0.08em;
            }
        }

        &__container {
            @include padding;
        }

        &__ttl {
            margin-left: auto;
            margin-bottom: 30px;
            width: 133.51px;
        }

        &__copyright {
            text-align: right;
        }

        &__small {
            color: #fff;
            font-size: 11px;
            font-weight: 300;
            letter-spacing: -0.07em;
        }
    }
}