//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

body {
    -webkit-text-size-adjust: 100%;
}

.wrapper {
    background: #fff;
    overflow: hidden;
}


.header {
    position: absolute;
    z-index: 10;
    margin-top: 15px;
    @include padding;
    mix-blend-mode: difference;

    @media screen and (min-width: 900px) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 24px;
        width: 85%;
    }

    &__ttl {
        width: 215px;
        height: fit-content;

        @media screen and (min-width: 900px) {
            width: 56px;
        }
    }

}

.gnav {
    display: none;

    @media screen and (min-width: 900px) {
        display: block;
    }

    &__ul {
        display: flex;
        gap: 67px;
    }

    &__link {
        color: #fff;
    }
}

.gnavSlider {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    margin-top: -20px;
    height: 100vh;
    width: 100%;
    transform: translateY(100%);
    transition: .5s;
    background-size: 20%;

    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__ul {
        margin-bottom: 99px;
    }

    &__list {
        margin-top: -20px;
    }

    &__link {
        @include navfont;

        &:hover {
            @include arrowHover;
        }
    }

    @for $i from 1 through 4 {
        .gnavSlider__link-0#{$i}::before {
            content: "_0#{$i}";
            margin-right: 3px;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: -0.08em;
        }
    }

    &__small {
        color: #fff;
        font-size: 11px;
        letter-spacing: -0.09em;
    }

    &__btn {
        @extend %slide__btn;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        mix-blend-mode: difference;
        cursor: pointer;

        &line {
            display: block;
            height: 2px;
            background: #fff;
            transition: .3s;

            &Top {
                transform: scale(100%);
                transform-origin: 0;
            }

            &Bottom {
                transform: scale(50%);
                transform-origin: 0;
            }
        }

        &:hover {
            .gnavSlider__btnlineTop {
                transform: scale(50%);
            }

            .gnavSlider__btnlineBottom {
                transform: scale(100%);
            }
        }

    }
}


#top {
    .mv {
        position: relative;
        top: 0;
        left: 0;
        height: 100dvh;
        margin-bottom: 44.8vw;
        width: 100%;

        // 背景動画はjs.scssファイルに記述

        &__container {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            @include padding;
            width: 100%;
            mix-blend-mode: difference;

            * {
                color: #fff;
            }

            @media screen and (min-width: 900px) {
                top: 80dvh;
                left: 0;
                display: flex;
                justify-content: space-between;
                flex-direction: row-reverse;
                // width: %;
            }
        }


        &__ul {
            // margin: 26.1vw 0 23.2vw;
            // width: 100%;

            // @media screen and (min-width:768px) {
            //     margin: 261px 0;
            // }
        }

        &__list {
            font-weight: 500;
            text-align: right;

            &:first-of-type {
                display: flex;
                gap: clamp(0px, 9.86vw, 35px);
                margin-bottom: clamp(0px, 70.93vw, 273px);
                width: max-content;
                font-size: 13px;

                @media screen and (min-width: 900px) {
                    gap: 53px;
                    margin-bottom: 0;
                    font-size: 17px;
                }
            }

            &:nth-of-type(2) {
                // display: flex;
                // justify-content: space-between;
                // font-size: 14px;
            }

        }

        &__ttl {
            margin-bottom: 14px;
            width: 215px;

            @media screen and (min-width: 900px) {
                width: 45%;
            }
        }

        &__txt {
            font-size: 10px;
            font-weight: 500;
            letter-spacing: -0.07em;

            @media screen and (min-width: 900px) {
                font-size: 16px;
            }
        }

        &__box {
            display: flex;
            flex-direction: column;
        }

    }

    .message {
        position: relative;
        z-index: 3;
        background: #fff;
        padding-bottom: clamp(0px, 21.33vw, 127px);

        &__container {
            position: relative;
            margin-bottom: clamp(0px, 54.66vw, 371px);
            @include padding;
        }

        &__ttl {
            position: relative;
            z-index: 3;
            font-size: clamp(0px, 12vw, 60px);
            font-weight: 400;
            line-height: 1;
            letter-spacing: -0.07em;

            &-02 {
                @media screen and (min-width:768px) {
                    display: block;
                    margin-top: -7px;
                }
            }

            &-03 {
                @media screen and (min-width:768px) {
                    display: block;
                    margin-top: 5px;
                }
            }

            @media screen and (min-width:768px) {
                line-height: 0.9;
            }

            .br {
                &:nth-of-type(1) {
                    @media screen and (min-width:768px) {
                        display: none;
                    }
                }
            }

            &Serif {
                display: block;
                margin-bottom: clamp(10px, calc(37px - 2vw), 30px);
                width: fit-content;
                font-family: $serif;
                font-size: clamp(0px, 8.8vw, 40px);
                font-weight: 500;
                letter-spacing: -0.05em;

                &::after {
                    @include content;
                    margin-top: -.5vw;
                    height: 2px;
                    background: $black;
                }
            }

            &Ruby {
                display: block;
                color: $gray03;
                font-size: 14px;
                letter-spacing: normal;
                line-height: 1.5;
            }

        }

        &__circle {
            position: absolute;
            top: -17.6vw;
            left: clamp(58.5px, 16.6vw, 430px);
            width: clamp(0px, 136vw, 535px);
            aspect-ratio: 1 / 1;
            border: 3px solid $gray01;
            border-radius: 50%;

            @media screen and (min-width:500px) {
                left: clamp(58.5px, 56.6vw, 450px);
            }

            &Pic-01 {
                position: absolute;
                z-index: 1;
                bottom: clamp(0px, 50vw, 184px);
                left: clamp(161px, 24vw, 710px);
                display: block;
                width: 141px;
                aspect-ratio: 1 / 1;
                background: url(../images/message-japn.jpg) center center / cover;
            }

            &Pic-02 {
                position: absolute;
                z-index: 1;
                bottom: 14px;
                left: clamp(161px, 24vw, 710px);
                display: block;
                width: 127px;
                aspect-ratio: 1 / 1;
                background: url(../images/message-sapporo.png) center center / cover;
            }
        }

        &__gallery {
            margin-bottom: clamp(0px, 18vw, 70.08px);

            &::before {
                @include content;
                margin-bottom: clamp(0px, 2.93vw, 15px);
                height: 18px;
                background: $gray02;
            }

            // container内js.scssに記述
        }

        &__txt {
            &Box {
                @include padding;

                @media screen and (min-width:768px) {
                    margin: 0 auto;
                    padding: 0;
                    width: 632px;
                }
            }

            margin-bottom: 100px;
            font-size: 26px;
            font-weight: 200;
            letter-spacing: -0.05em;
            line-height: 115%;

            .br {
                &:nth-of-type(1) {
                    @media screen and (min-width:768px) {
                        display: none;
                    }
                }

                &:nth-of-type(2) {
                    display: none;
                }

                &:nth-of-type(3) {
                    @media screen and (min-width:768px) {
                        display: none;
                    }
                }

                &:nth-of-type(4) {
                    display: none;
                }

                &:nth-of-type(5) {
                    display: none;

                    @media screen and (min-width:768px) {
                        display: block;
                    }
                }

                &:nth-of-type(6) {
                    @media screen and (min-width:768px) {
                        display: none;
                    }
                }
            }

            &Ruby {
                color: $gray03;
                font-size: 11px;
                font-weight: 500;
                line-height: 181.8%;

                @media screen and (min-width:768px) {
                    font-size: 12px;
                }

                .br {
                    @media screen and (min-width:768px) {
                        display: none;
                    }
                }
            }
        }
    }

    .works {
        position: relative;
        padding-top: clamp(0px, calc(58.125px - 4vw), 43.12px);
        padding-bottom: clamp(0px, 25vw, 100px);
        background: $blue;

        @media screen and (min-width:768px) {
            padding-top: 0;
        }

        &::after {
            @include content;
            position: absolute;
            bottom: clamp(0px, 32vw, 122px);
            left: 0;
            height: 1px;
            background: $black;
        }

        &__ttl {
            margin-bottom: clamp(0px, 23vw, 90px);
            @include ttl;

            @media screen and (min-width:768px) {
                position: relative;
                z-index: 1;
                margin-top: -20px;
            }


            &-01 {
                transform: translateX(-2vw);
            }

            &-02 {
                transform: translateX(-2vw);
            }

            &-03 {
                transform: translateX(2.5vw);

                @media screen and (min-width:768px) {
                    transform: translateX(7vw);
                }
            }

            &-04 {
                transform: translateX(10.3vw);

                @media screen and (min-width:768px) {
                    transform: translateX(15.3vw);
                }
            }

            &-05 {
                transform: translateX(9.5vw);

                @media screen and (min-width:768px) {
                    transform: translateX(14.3vw);
                }
            }

            &-06 {
                transform: translateX(23vw);
            }
        }

        &__link {
            &:hover {
                @include arrowHover;
            }
        }

        ul {
            margin-bottom: 13vw;
        }

        //works切り替え
        //works block表示用
        &__ulBlock {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 11.2vw;
            @include padding;

            .works {
                &__list {
                    width: 43.73vw;

                    &:first-of-type {
                        display: none;
                    }

                    @media screen and (min-width:768px) {
                        width: 359px;
                    }
                }

                &__thum {
                    width: 100%;
                    aspect-ratio: 126 / 79;
                    margin-bottom: 2.13vw;

                    &Img {
                        object-fit: cover;
                    }
                }

                &__name {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.4;

                    .arrow {
                        @include arrow(#717171)
                    }

                    .br {
                        @media screen and (min-width:768px) {
                            display: none;
                        }
                    }
                }

                &__time {
                    display: none;
                }

                &__responsive {
                    display: none;
                }
            }
        }

        //works line表示用
        &__ulLine {
            .works {
                $works__border: 1px solid #717171;

                &__list {
                    border-top: $works__border;

                    &:first-of-type {
                        display: none;
                    }

                    &:nth-of-type(2),
                    &:nth-of-type(8),
                    &:nth-of-type(9),
                    &:nth-of-type(10) {
                        .br {
                            display: none;
                        }
                    }

                    &:last-of-type {
                        border-bottom: $works__border;
                    }
                }

                &__link {
                    @include padding;
                    padding-top: 7px;
                    padding-bottom: 18px;

                }

                &__thum {
                    display: none;
                }

                &__name {
                    font-size: 26px;
                    font-weight: 500;
                    line-height: 1.3;


                    .arrow {
                        @include arrow(#717171)
                    }
                }

                &__time, &__responsive {
                    color: rgb(0, 0, 0, 0.5);
                    font-size: 14px;
                }

                &__time::before {
                    content: 'time';
                    padding-right: 1em;
                    letter-spacing: -0.07em;
                }

                &__responsive {
                    margin-top: -3px;

                    &::before {
                        content: 'responsive';
                        padding-right: 1em;
                        letter-spacing: -0.07em;
                    }
                }
            }
        }

        &__switch {
            position: absolute;
            z-index: 3;
            top: 20%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 14px 51px;
            width: 175px;
            height: 45px;
            background: #fff;
            border-radius: 999px;

            %btnSize {
                width: 20px;
                height: 18px;
            }

            &Line {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @extend %btnSize;
                cursor: pointer;

                span {
                    width: 100%;
                    height: 4px;
                    background: #757575;
                }
            }

            &Block {
                display: flex;
                flex-wrap: wrap;
                gap: 3px;
                @extend %btnSize;
                cursor: pointer;

                span {
                    width: 4px;
                    height: 4px;
                    background: #757575;
                }
            }
        }
    }

    .skill {
        position: relative;
        padding-top: 22.93vw;
        padding-bottom: 13vw;
        background: $bgGray;

        &__ttl {
            position: absolute;
            top: clamp(-111px, -21vw, 0px);
            left: 0;
            margin-bottom: clamp(0px, 15vw, 50px);
            @include ttl;

            &-01 {
                transform: translateX(-2vw);

                @media screen and (min-width:768px) {
                    transform: translateX(1vw);
                }
            }

            &-02 {
                transform: translateX(-2vw);

                @media screen and (min-width:768px) {
                    transform: translateX(1vw);
                }
            }

            &-03 {
                transform: translateX(10vw);

                @media screen and (min-width:768px) {
                    transform: translateX(11vw);
                }
            }

            &-04 {
                transform: translateX(9vw);

                @media screen and (min-width:768px) {
                    transform: translateX(10vw);
                }
            }

            &-05 {
                transform: translateX(15vw);

                @media screen and (min-width:768px) {
                    transform: translateX(17vw);
                }
            }

            &-06 {
                transform: translateX(35vw);

                @media screen and (min-width:768px) {
                    transform: translateX(37vw);
                }
            }

            &-07 {
                transform: translateX(34vw);

                @media screen and (min-width:768px) {
                    transform: translateX(36vw);
                }
            }
        }

        &__pic {
            display: flex;
            margin-bottom: clamp(0px, 29vw, 95px);
            width: 130%;
            overflow: hidden;

            @media screen and (min-width:768px) {
                width: 265%;
            }

            &-01 {
                object-fit: cover;
                animation: roop1 70s -35s linear infinite;
            }

            &-02 {
                object-fit: cover;
                animation: roop2 70s linear infinite;
            }
        }

        &__wrap {
            display: flex;
            justify-content: space-between;
        }

        &__kinds {
            @include padding;

            &Container {
                width: 50%;
            }

            &Ttl {
                margin-bottom: 26px;
                padding-bottom: 16px;
                padding-left: 20px;
                color: $gold;
                border-bottom: 1px solid $gold;
                letter-spacing: -0.07em;
            }

            &List {
                margin-bottom: 31px;
            }

            &Box {
                display: flex;
                gap: 26.6px;
            }

            &Name {
                display: flex;
                gap: 5px;
                margin-bottom: 10px;
                color: #fff;
                font-size: 21px;
                letter-spacing: -0.07em;

                &::before {
                    @include content($w: 26px);
                    height: 26px;
                    background: center center / contain no-repeat;
                }

                &Html::before {
                    background-image: url(../images/iconHtml.svg);
                }

                &Css::before {
                    background-image: url(../images/iconCss.svg)
                }

                &Js {
                    .br {
                        display: none;

                        @media screen and (min-width: 768px) {
                            display: block;
                        }
                    }

                    &::before {
                        background-image: url(../images/iconJs.svg)
                    }
                }

                &Cms::before {
                    background-image: url(../images/iconCms.svg)
                }

                &Git::before {
                    background-image: url(../images/iconGit.svg)
                }

                &Figma::before {
                    background-image: url(../images/iconFigma.svg)
                }

                &Xd::before {
                    background-image: url(../images/iconXd.svg)
                }

                &Ps::before {
                    background-image: url(../images/iconPs.svg)
                }

                &Vscode::before {
                    background-image: url(../images/iconVscode.svg)
                }

                &Chat::before {
                    background-image: url(../images/iconChat.svg)
                }

                &Quip::before {
                    background-image: url(../images/iconQuip.svg)
                }
            }

            &Txt {
                color: #fff;
                font-size: 10px;
            }
        }
    }

    .history {
        position: relative;
        padding-top: clamp(0px, 26.6vw, 178px);
        padding-bottom: 3vw;
        background: #000;

        &__ttl {
            position: absolute;
            top: clamp(-103px, -21.5vw, 0px);
            left: 0;
            z-index: 3;
            @include ttl;

            &-01 {
                transform: translateX(-2vw);
            }

            &-02 {
                transform: translateX(-4vw);
            }

            &-03 {
                transform: translateX(-5vw);
            }

            &-05 {
                transform: translateX(-1.3vw);
            }

            &-06 {
                transform: translateX(8vw);
            }

            &-07 {
                transform: translateX(7vw);
            }

            &-08 {
                transform: translateX(15vw);
            }
        }

        &__bgPic {
            position: absolute;
            top: clamp(0px, 50vw, 100px);
            left: clamp(-101px, -138.75px - 10vw, -49px);
            z-index: 2;
            width: clamp(0px, 132vw, 601px);
            aspect-ratio: 495.31 / 323;
            background-position: center center;

            &::after {
                @include content;
                height: 100%;
                background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.8) 90%, #000 100%);
            }

            &-01 {
                background-size: 100%;
                background-image: url(../images/topHistory-1.jpg);
                animation: history1 20s ease-in infinite;
                opacity: .4;
            }

            &-02 {
                background-size: 140%;
                background-image: url(../images/topHistory-2.jpg);
                animation: history2 20s linear infinite;
                opacity: 0;
            }
        }

        &__dl {
            position: relative;
            z-index: 3;
            margin-bottom: clamp(0px, 8.5vw, 27px);
            @include padding;
            text-align: right;

            &Box {
                margin-bottom: clamp(0px, 4.53vw, 27px);
            }
        }

        &__dd {
            color: hsla(0, 0%, 100%, 0.5);
            letter-spacing: -0.07em;
        }

        &__dt {
            color: #fff;

            &:nth-of-type(1) {
                margin-top: -13px;
                font-size: 45px;
                letter-spacing: -0.07em;
            }

            &:nth-of-type(2) {
                margin-top: -12px;
                font-size: 10px;
            }
        }

        &__txt {
            position: relative;
            z-index: 3;
            margin-bottom: clamp(0px, 5vw, 23px);
            @include padding;
            color: rgba(255, 255, 255, 0.6);
            font-size: 12px;

            .br {
                display: none;
            }
        }

        &__more {
            @include padding;
            text-align: right;
        }

        &__link {
            color: #fff;
            font-size: 35px;
            letter-spacing: -0.07em;

            .arrow {
                @include arrow(#fff)
            }
        }

        &__item {
            margin-top: -8vw;
            @include ttl;

            span {
                color: #4c4c4c;
            }

        }
    }

    .contact {
        padding-top: 55px;
        padding-bottom: 50px;
        background: $bgBlack;

        &:hover {
            @include arrowHover;
        }

        &__subTtl {
            margin: 0 auto 49px;
            @include padding;
            width: max-content;
            color: #fff;
            font-family: $serif;
            font-style: italic;
            font-size: clamp(0px, 16.53vw, 62px);
            letter-spacing: -0.03em;

            @media screen and (min-width:470px) {
                margin: 0 0 49px;
            }

            &::after {
                @include content;
                margin-top: -18px;
                height: 1px;
                background: #fff;
            }
        }

        &__container {
            @include padding;
        }

        &__txt {
            margin: 0 auto 56.25px;
            width: clamp(0px, 89.976vw, 337.41px);
            color: rgba(255, 255, 255, 0.6);
            font-size: 14px;
            line-height: 178.57%;

            @media screen and (min-width:470px) {
                margin: 0 0 52px;
                width: 100%;
            }

            .br {
                display: none;

                @media screen and (min-width:470px) {
                    display: block;
                }
            }

        }

        &__ttl {
            margin-bottom: 21px;
            color: #fff;
            font-size: 34px;
            font-weight: 400;
            letter-spacing: -0.07em;
            text-align: right;

            @media screen and (min-width:470px) {
                margin-bottom: 16px;
            }

            .arrow {
                @include arrow(#fff);
            }
        }

        &__mail {
            color: #fff;
            font-size: 12px;
            letter-spacing: -0.07em;
            text-align: right;
        }
    }

    .footer {
        padding-bottom: 68px;
        background: $bgBlack;

        &__pic {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 74px;
            padding: 2.6vw 0 3.46vw;
            height: clamp(0px, 121.3vw, 922px);
            background: url(../images/footer-sp.jpg)center center / cover;
        }

        &__siteName {
            &Top {
                display: flex;
                height: 4.26vw;
            }

            &Bottom {
                @extend .footer__siteNameTop;
            }

            &Roop {
                width: 120%;

                &-01 {
                    animation: roop1 60s -30s linear infinite;
                }

                &-02 {
                    animation: roop2 60s linear infinite;
                }
            }
        }

        &__ul {
            margin-bottom: 76px;

            @media screen and (min-width:470px) {
                margin-bottom: 67px;
            }
        }

        $border: 0.5px solid rgba(255, 255, 255, 0.3);

        &__list {
            border-top: $border;
            overflow: hidden;

            &:last-of-type {
                border-bottom: $border;
            }
        }

        &__link {
            position: relative;
            display: flex;
            align-items: baseline;
            margin-top: -5px;
            margin-bottom: -2px;
            @include padding;

            &:hover {
                @include arrowHover;
            }

            &Number {
                margin-right: 3px;
                color: #fff;
                font-size: 23px;
                font-weight: 500;
                letter-spacing: -0.08em;
            }

            &Name {
                position: relative;
                @include navfont;
                transition: .4s;
                transform-style: preserve-3d;
                transform-origin: top;

                &::after {
                    @include content(attr(data-txt));
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: rotateX(-90deg) translateY(50%);
                    opacity: 0;
                    transition: .4s;
                }
            }

            &:hover {
                .footer__link {
                    &Name {
                        transform: rotateX(90deg) translateY(50%);

                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &__container {
            @include padding;
        }

        &__ttl {
            margin-left: auto;
            margin-bottom: 30px;
            width: 133.51px;
        }

        &__copyright {
            text-align: right;
        }

        &__small {
            color: #fff;
            font-size: 11px;
            font-weight: 300;
            letter-spacing: -0.07em;
        }
    }
}