//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

#top {
    .wrapper {
        overflow: hidden;
    }

    .header {
        position: relative;
        z-index: 5;
        margin-bottom: 44.8vw;
        @include padding;
        height: 100vh;

        &__ttl {
            padding-top: 15px;
            width: 215px;
            height: fit-content;
        }

        &__btn {
            position: fixed;
            top: 24px;
            right: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 52px;
            height: 12px;

            &line {
                display: block;
                height: 2px;
                background: $black;

                &Top {
                    width: 100%;
                }

                &Bottom {
                    width: 50%;
                }
            }

        }

        &__sunaarashi {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 20px;
            background: #ccc;
        }
    }

    .topNav {
        display: none;
    }

    .gnav {
        display: none;
    }

    .mv {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #ddd;

        &__videoUl {
            position: absolute;
            width: 100%;
            height: 100%;

            &List {
                width: 100%;
                height: 100%;
            }
        }


        &__wrap {
            @include padding;
        }

        &__container-01 {
            margin: 26.1vw 0 23.2vw;
        }

        &__ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
        }

        &__list {
            font-weight: 500;

            &:first-of-type {
                display: flex;
                gap: 9.86vw;
                margin-bottom: 70.93vw;
                width: 100%;
                font-size: 13px;
            }

            &:nth-of-type(2),
            &:nth-of-type(3) {
                font-size: 14px;
            }

        }

        &__ttl {
            margin-bottom: 14px;
            width: 215px;
        }

        &__txt {
            font-size: 10px;
            font-weight: 500;
            letter-spacing: -0.07em;
        }

        &__container-02 {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__no {
            display: flex;
            gap: 15px;

            &List {
                font-size: 15px;
            }
        }
    }

    .message {
        margin-bottom: 21.33vw;

        &__ttl {
            &Container {
                position: relative;
                margin-bottom: 54.66vw;
                @include padding;
            }

            font-size: clamp(0px, 12vw, 60px);
            font-weight: 400;
            line-height: 1;
            letter-spacing: -0.07em;

            &Serif {
                display: block;
                margin-bottom: clamp(10px, calc(37px - 2vw), 30px);
                width: fit-content;
                font-family: $serif;
                font-size: clamp(0px, 8.8vw, 40px);
                font-weight: 500;
                letter-spacing: -0.05em;

                &::after {
                    @include content;
                    margin-top: -.5vw;
                    height: 2px;
                    background: $black;
                }
            }

            &Ruby {
                display: block;
                color: $gray03;
                font-size: 14px;
                letter-spacing: normal;
                line-height: 1.5;
            }

        }

        &__circle {
            position: absolute;
            top: -17.6vw;
            left: 15.6vw;
            z-index: -1;
            width: clamp(0px, 136vw, 535px);
            aspect-ratio: 1 / 1;
            border: 3px solid $gray01;
            border-radius: 50%;

            &::before {
                @include content($w: 141px);
                position: absolute;
                top: 48vw;
                left: 43vw;
                aspect-ratio: 1 / 1;
                background: url(../images/message-japn.jpg) center center / cover;
            }

            &::after {
                @include content($w: 127px);
                position: absolute;
                top: 96vw;
                left: 43vw;
                aspect-ratio: 1 / 1;
                background: url(../images/message-sapporo.png) center center / cover;
            }
        }

        &__gallery {
            margin-bottom: 18vw;

            &::before {
                @include content;
                margin-bottom: clamp(0px, 2.93vw, 15px);
                height: 18px;
                background: $gray02;
            }

            // container内js.scssに記述
        }

        &__txt {
            &Box {
                @include padding
            }

            margin-bottom: 26.93vw;
            font-size: 6.93vw;
            font-weight: 200;
            letter-spacing: -0.05em;
            line-height: 115%;

            .br {
                &:nth-of-type(2) {
                    display: none;
                }

                &:nth-of-type(4) {
                    display: none;
                }
            }

            &Ruby {
                color: $gray03;
                font-size: 11px;
                font-weight: 500;
                line-height: 181.8%;
            }
        }
    }

    .works {
        position: relative;
        padding-top: 11.5vw;
        padding-bottom: 44vw;
        background: $blue;

        &::after {
            @include content;
            position: absolute;
            bottom: 32vw;
            left: 0;
            height: 1px;
            background: $black;
        }

        &__ttl {
            margin-bottom: 23vw;
            @include ttl;

            &-01 {
                transform: translateX(-2vw);
            }

            &-02 {
                transform: translateX(-2vw);
            }

            &-03 {
                transform: translateX(2.5vw);
            }

            &-04 {
                transform: translateX(10.3vw);
            }

            &-05 {
                transform: translateX(9.5vw);
            }

            &-06 {
                transform: translateX(23vw);
            }
        }

        &__ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 11.2vw;
            @include padding;
        }

        &__list {
            width: 43.73vw;
        }

        &__thum {
            margin-bottom: 2.13vw;

            &Ttl {
                font-size: 14px;
                font-weight: 500;
                line-height: 1.4;

                .arrow {
                    @include arrow(#717171)
                }
            }
        }
    }

    .skill {
        position: relative;
        z-index: 2;
        padding-bottom: 13vw;
        background: $bgGray;

        &__ttl {
            position: relative;
            z-index: 3;
            margin-top: -21vw;
            margin-bottom: 15vw;
            @include ttl;

            &-01 {
                transform: translateX(-2vw);
            }

            &-02 {
                transform: translateX(-2vw);
            }

            &-03 {
                transform: translateX(10vw);
            }

            &-04 {
                transform: translateX(9vw);
            }

            &-05 {
                transform: translateX(15vw);
            }

            &-06 {
                transform: translateX(35vw);
            }

            &-07 {
                transform: translateX(34vw);
            }
        }

        &__pic {
            display: flex;
            margin-left: -20vw;
            margin-bottom: 29vw;
            width: max-content;
            overflow: hidden;

            span {
                display: block;
                width: 169.43px;
                height: 84px;
                background-position: center top;
                background-size: cover;
                border-color: #00000081;
                mix-blend-mode: overlay;
            }

            &-01 {
                background-image: url(../images/topAi.jpg);
            }

            &-02 {
                background-image: url(../images/topAzito.jpg);
            }

            &-03 {
                background-image: url(../images/topCrepeKitchen.jpg);
            }

            &-04 {
                background-image: url(../images/topPremier.jpg);
            }

            &-05 {
                background-image: url(../images/topKamuy.jpg);
            }

            &-06 {
                background-image: url(../images/topWss.jpg);
            }
        }

        &__kinds {
            @include padding;

            &Ttl {
                margin-bottom: 26px;
                padding-bottom: 16px;
                padding-left: 20px;
                color: $gold;
                border-bottom: 1px solid $gold;
                letter-spacing: -0.07em;
            }

            &List {
                margin-bottom: 31px;
            }

            &Box {
                display: flex;
                gap: 26.6px;
            }

            &Name {
                display: flex;
                gap: 5px;
                margin-bottom: 10px;
                color: #fff;
                font-size: 21px;
                letter-spacing: -0.07em;

                &::before {
                    @include content($w: 26px);
                    height: 26px;
                    background: center center / contain no-repeat;
                }

                &Html::before {
                    background-image: url(../images/iconHtml.svg);
                }

                &Css::before {
                    background-image: url(../images/iconCss.svg)
                }

                &Js::before {
                    background-image: url(../images/iconJs.svg)
                }

                &Cms::before {
                    background-image: url(../images/iconCms.svg)
                }

                &Git::before {
                    background-image: url(../images/iconGit.svg)
                }

                &Figma::before {
                    background-image: url(../images/iconFigma.svg)
                }

                &Xd::before {
                    background-image: url(../images/iconXd.svg)
                }

                &Ps::before {
                    background-image: url(../images/iconPs.svg)
                }

                &Vscode::before {
                    background-image: url(../images/iconVscode.svg)
                }

                &Chat::before {
                    background-image: url(../images/iconChat.svg)
                }

                &Quip::before {
                    background-image: url(../images/iconQuip.svg)
                }
            }

            &Txt {
                color: #fff;
                font-size: 10px;
            }
        }
    }

    .history {
        position: relative;
        padding-bottom: 3vw;
        background: #000;

        &__ttl {
            position: relative;
            z-index: 3;
            margin-top: -22.5vw;
            margin-bottom: 17vw;
            @include ttl;

            &-01 {
                transform: translateX(-2vw);
            }

            &-02 {
                transform: translateX(-4vw);
            }

            &-03 {
                transform: translateX(-5vw);
            }

            &-05 {
                transform: translateX(-1.3vw);
            }

            &-06 {
                transform: translateX(8vw);
            }

            &-07 {
                transform: translateX(7vw);
            }

            &-08 {
                transform: translateX(15vw);
            }
        }

        &__bgPic {
            position: absolute;
            top: 50vw;
            left: -27vw;
            z-index: 2;
            width: 495px;
            aspect-ratio: 495.31 / 323;
            background: url(../images/topHistory-1.jpg) center center / cover;

            &::after {
                @include content;
                height: 100%;
                background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.8) 90%, #000 100%);
            }
        }

        &__dl {
            position: relative;
            z-index: 3;
            margin-bottom: 8.5vw;
            @include padding;
            text-align: right;

            &Box {
                margin-bottom: 4.53vw;
            }
        }

        &__dd {
            color: hsla(0, 0%, 100%, 0.5);
            letter-spacing: -0.07em;
        }

        &__dt {
            color: #fff;

            &:nth-of-type(1) {
                margin-top: -3vw;
                font-size: 45px;
                letter-spacing: -0.07em;
            }

            &:nth-of-type(2) {
                margin-top: -2vw;
                font-size: 10px;
            }
        }

        &__txt {
            position: relative;
            z-index: 3;
            margin-bottom: 5vw;
            @include padding;
            color: rgba(255, 255, 255, 0.6);
            font-size: 12px;

            .br {
                display: none;
            }
        }

        &__more {
            @include padding;
            text-align: right;
        }
        &__link{
            color: #fff;
            font-size: 35px;
            letter-spacing: -0.07em;
            .arrow {
                @include arrow(#fff)
            }
        }

        &__item {
            margin-top: -8vw;
            @include ttl;

            span {
                color: #4c4c4c;
            }

        }
    }

    .contact{
        padding-top: 14.66vw;
        padding-bottom: 13.33vw;
        background: $bgBlack;
        &__subTtl{
            margin: 0 auto 13vw;
            width: fit-content;
            color: #fff;
            font-family: $serif;
            font-size: 62px;
            letter-spacing: -0.03em;

            &::after{
                @include content;
                margin-top: -18px;
                height: 1px;
                background: #fff;
            }
        }
        &__container{
            @include padding;
        }
        &__txt{
            margin-bottom: 15vw;
            color: rgba(255, 255, 255, 0.6);
            font-size: 14px;
            line-height: 178.57%;
            .br{
                display: none;
            }
        }
        &__ttl{
            margin-bottom: 5.4vw;
            color: #fff;
            font-size: 34px;
            font-weight: 400;
            letter-spacing: -0.07em;
            text-align: right;
            .arrow{
                @include arrow(#fff);
            }
        }
        &__mail{
            color: #fff;
            font-size: 12px;
            letter-spacing: -0.07em;
            text-align: right;
        }
    }
}