@use "../global" as *;

.loadWrap,
.loadTtl {
    animation: openning 3s ease-in-out forwards;
}

.loadBlur {
    &::before {
        animation: openningBlur 4s linear forwards;
    }

    &::after {
        animation: openningBlur 4s linear forwards;
    }
}

.hidden {
    overflow: hidden;
}

//フェードイン
.FadeIn {
    opacity: 0;
}

.showFadeIn {
    animation: fadeIn .7s linear forwards;
}

//フェードアップ
.FadeUp {
    opacity: 0;
    transform: translateY(20%);
}

.showFadeUp {
    animation: fadeUpDown .7s .2s linear forwards;
}

//フェードダウン
.FadeDown {
    opacity: 0;
    transform: translateY(-20%);
}

.showFadeDown {
    animation: fadeUpDown .7s .2s linear forwards;
}

//フェード小さくなりながら
.FadeScale {
    opacity: 0;
    transform: scale(1.09);
}

.showFadeScale {
    animation: fadeScale .7s linear forwards;
}

//テキストの単語のフェード
.FadeScaleX {
    span {
        display: inline-block;
        opacity: 0;
        transform: scaleX(70%);
        transform-origin: left;
    }
}

.showFadeScaleX {
    @for $i from 1 through 68 {
        $delay: calc($i / 100);

        span:nth-of-type(#{$i}) {
            animation: fadeScaleX 1s #{$delay}s cubic-bezier(0.47, -0.1, 0.66, 0.66) forwards;
        }
    }
}

//テキストが回転しながら
.FadeTxt {
    span {
        display: inline-block;
        opacity: 0;
        transform-origin: center center;
    }
}

.showFadeTxt {
    @for $i from 1 through 5 {
        $delay: calc($i / 10);

        span:nth-of-type(#{$i}) {
            animation:fadeTxt .2s #{$delay}s linear forwards;
        }
    }
}


//斜め回転してにフェードイン
.FadeRotate {
    opacity: 0;
    transform: rotateX(39deg) rotateY(-31deg) translateZ(34px);
}

.showFadeRotate {
    animation: fadeRotate 1s forwards ease-in;
}


//worksスワイパー設定
.work__swiper {
    //ページネーション
    &-pagination {
        position: relative;
        display: flex;
        gap: 4vw;
        transition: .5s;

        @media screen and (min-width: 768px) {
            gap: 1.4vw;
        }

        .swiper-pagination-bullet {
            display: block;
            width: max-content;
            background: none;
            font-size: 3.5vw;

            @media screen and (min-width: 768px) {
                font-size: 0.93vw;
            }

            &:nth-last-of-type(3),
            &:nth-last-of-type(2),
            &:nth-last-of-type(1) {
                &::after {
                    @include content($w: 100%);
                    height: 1px;
                    background: #fff;
                }
            }

            &:nth-last-of-type(3) {
                &::before {
                    @include content("Video Image", max-content);
                }
            }

            &:nth-last-of-type(2) {
                &::before {
                    @include content("Dorama Asset", max-content);
                }
            }

            &:nth-last-of-type(1) {
                &::before {
                    @include content("Storybiard", max-content);
                }
            }
        }
    }
}

//nwesスワイパー設定
.news__swiper {

    .swiper-pagination-bullet {
        margin: 0 1.6vw !important;
        width: 2.5vw;
        height: 2.5vw;
        background: none;
        border: 1px solid #fff;
        opacity: 1;

        @media screen and (min-width: 768px) {
            margin: 0 0.3vw !important;
            width: 0.52vw;
            height: 0.52vw;
        }

        &-active {
            background: #fff;
        }
    }
}