@use "../setting" as *;

@keyframes openning {
    100% {
        transform: translateX(0%);
    }
}

@keyframes openningBlur {
    100% {
        opacity: 0.3;
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

@keyframes fadeUpDown {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

//テキストの単語のフェード
@keyframes fadeScaleX {
    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}


@keyframes fadeScale {
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


//斜め回転してにフェードイン
@keyframes fadeRotate {
    100% {
        opacity: 1;
        transform: rotate(0) translateZ(0);
    }
}


@keyframes fadeTxt {
    20%{
        opacity: .5;
        transform: rotateY(-90deg);
    }
    50%{
        opacity: 0;
        transform: rotateY(0);
    }
    80%{
        opacity: 0.5;
        transform: rotateY(90deg);
    }
    100% {
        opacity: 1;
        transform: rotateY(0);
    }
}