//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

//スライドメニュー
.gnavSlider {
    &__slide{
        transform: translateY(0);
        opacity: 1;
    }

    &-click {
        @extend %slide__btn;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;

        .gnavSlider__btnline {
            position: absolute;
            display: block;
            height: 2px;
            width: 26px;
            background: #fff;
            transition: .3s;
        }
    }


}

.btnTop-click {
    transform:rotate(45deg);
    transform-origin: center;
}

.btnBottom-click {
    transform:rotate(-45deg);
    transform-origin: center;
}



// mv背景動画
#top {
    .mv__swiper {
        height: 100vh;

        &-video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-pagination {
            position: absolute;
            top: 130vw;
            left: 75vw;
            display: flex;
            gap: 15px;
            width: fit-content;
            height: fit-content;
            mix-blend-mode: difference;

            .swiper-pagination-bullet {
                display: block;
                background: none;

                &:nth-last-of-type(1)::before {
                    @include content("3");
                    color: #fff;
                }

                &:nth-last-of-type(2)::before {
                    @include content("2");
                    color: #fff;
                }

                &:nth-last-of-type(3)::before {
                    @include content("1");
                    color: #fff;
                }
            }
        }
    }
}


// messageギャラリー画像
.message__gallery {
    &Container {
        display: flex;
        flex-wrap: wrap;
        gap: 8.67px;
        width: 128.53vw;
        height: 442px;
        margin-left: -13vw;
        overflow: hidden;
    }

    &List {
        display: block;
        width: 72.27px;
        aspect-ratio: 25 / 14;
        background-position: center center;
        background-size: cover;
        border-radius: 3.69px;
        opacity: 0;
    }

    @for $i from 1 through 36 {
        .message__galleryList#{$i} {
            background-image: url(../images/message-#{$i}.jpg);
        }
    }
    @for $i from 1 through 6 {
        .message__galleryList#{$i} {
            animation: gallery .8s linear forwards;
        }
    }
    @for $i from 7 through 12 {
        .message__galleryList#{$i} {
            animation: gallery .8s .2s linear forwards;
        }
    }
    @for $i from 13 through 18 {
        .message__galleryList#{$i} {
            animation: gallery .8s .4s linear forwards;
        }
    }
    @for $i from 19 through 24 {
        .message__galleryList#{$i} {
            animation: gallery .8s .6s linear forwards;
        }
    }
    @for $i from 25 through 30 {
        .message__galleryList#{$i} {
            animation: gallery .8s .8s linear forwards;
        }
    }
    @for $i from 31 through 36 {
        .message__galleryList#{$i} {
            animation: gallery .8s 1s linear forwards;
        }
    }
}