//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

// mv背景動画
#top {
    .mv__swiper {
        height: 100vh;

        &-video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-pagination {
            position: absolute;
            top: 130vw;
            left: 75vw;
            display: flex;
            gap: 15px;
            width: fit-content;
            height: fit-content;
            mix-blend-mode: difference;

            .swiper-pagination-bullet {
                display: block;
                background: none;

                &:nth-last-of-type(1)::before {
                    @include content("3");
                    color: #fff;
                }

                &:nth-last-of-type(2)::before {
                    @include content("2");
                    color: #fff;
                }

                &:nth-last-of-type(3)::before {
                    @include content("1");
                    color: #fff;
                }
            }
        }
    }
}

// messageギャラリー画像
.message__gallery {
    &Container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 2.31vw;
        width: 128.53vw;
        margin-left: -13vw;
    }

    &List {
        display: block;
        width: 19.27vw;
        aspect-ratio: 25 / 14;
        background-position: center center;
        background-size: cover;
        border-radius: 1vw;
    }

    @for $i from 1 through 36 {
        .message__galleryList#{$i} {
            background-image: url(../images/message-#{$i}.jpg);
        }
    }
}