@use "../setting" as *;

//padding
//sp用
@mixin padding {
    padding-left: 20px;
    padding-right: 20px;
}
//tab用
@mixin paddingTab {
    padding-left: 40px;
    padding-right: 40px;
}
//pc用
@mixin paddingPc {
    padding-left: clamp(20px, 7.57vw, 150px);
    padding-right: clamp(20px, 7.57vw, 150px);
}
//pc用
$mvPaddingPc: 60px;
//historyPc用
@mixin paddngHistoryPc {
    padding-right: clamp(40px,8.8vw,169px);
    padding-left: clamp(40px,10.9vw,210px);
}


//befor,after用
@mixin content($c: "", $w: 100%) {
    content: $c;
    display: block;
    width: $w;
}


//font用
@mixin navfont {
    color: #fff;
    font-size: 45px;
    letter-spacing: -0.06em;

    @media screen and (min-width: 768px) {
        font-size: clamp(45px, 5.86vw, 90px);
    }
}

@mixin ttl {
    span {
        display: inline-block;
        color: #fff;
        font-size: 20.26vw;
        font-weight: 400;

        &:first-of-type {
            font-size: clamp(0px, 14.66vw, 115px);
            font-weight: 300;

            @media screen and (min-width: 768px) {
                font-size: clamp(115px, 14.97vw, 214px);
            }
        }

        @media screen and (min-width:768px) {
            font-size: clamp(160px, 20.83vw, 326px);
        }
    }
}


//アイコン
@mixin arrow($c: #fff) {
    position: relative;
    display: inline-block;
    margin-left: -5px;
    width: 17.7px;
    height: 18px;
    transform: rotate(-45deg);
    transform-origin: 100%;
    transition: .5s;


    &::before {
        @include content($w: 17.7px);
        position: absolute;
        top: 9px;
        right: -3px;
        height: 2px;
        background: $c;
    }

    &::after {
        @include content($w: 8px);
        position: absolute;
        top: 9px;
        right: 0;
        aspect-ratio: 1 / 1;
        border-top: 2px solid $c;
        border-right: 2px solid $c;
        border-radius: 0 0.9px 0 0;
        transform: rotate(45deg) translateY(-50%);
    }
}

@mixin arrowHover {
    .arrow {
        animation: arrow .5s linear;
    }
}

$arrowMargin-01-02: 3px;
$arrowMargin-03-04: -10px;

@mixin plus($ccircle: #fff, $c: #fff) {
    position: relative;
    display: block;
    width: 38px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px solid $ccircle;
    
    @media screen and (min-width: 768px) {
        width: 40px;
    }
    
    @media screen and (min-width: 1024px) {
        width: 60px;
    }
    
    &::before {
        @include content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 1.9px;
        background: $c;
        transition: .5s;
        
        @media screen and (min-width: 768px) {
            width: 13px;
        }
    }

    &::after {
        @include content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1.9px;
        height: 12px;
        background: $c;
        transition: .5s;

        @media screen and (min-width: 768px) {
            height: 13px;
        }
    }
}

//historyメッセージのアイテム
@mixin historyLine($r: 0, $l: auto) {
    position: relative;
    width: 52px;
    height: 10px;

    @media screen and (min-width: 768px) {
        height: 15px;
    }

    &::before {
        @include content;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 1px;
        background: $gray;
    }

    &::after {
        @include content;
        position: absolute;
        top: 0;
        right: $r;
        left: $l;
        width: 10px; //pc15px
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background: $gray;

        @media screen and (min-width: 768px) {
            width: 15px;
        }
    }
}
